.episode{
    width: 200px;
    height: 150px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    margin-right: 20px;
    text-align: center;
    transition: 300ms;
}

.link{
    text-decoration: none;
    color: black;
}

.episode:hover{
    background-color: rgba(171, 194, 235, 0.688);
    cursor: pointer;
    transition: 300ms;
}
