.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background: rgb(56, 66, 58);
    box-sizing: border-box;
    padding: 0px 50px;
}

.HeaderMenu{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}


.Header a {
    text-decoration: none;
    color: white;
    font-size: 28px;
    transition: 300ms;
}

.Header a:hover{
    cursor: pointer;
    text-shadow: 0 0 10px white;
    transition: 300ms;
}

.Header a[class='active']{
    text-shadow: 0 0 20px white;
}

.Header button{
    height: 40px;
    width: 80px;
    border: 1px solid white;
    border-radius: 50px;
    box-shadow: 0 0 10px white;
    background: rgb(56, 66, 58);
    color: white;
    font-size: 17px;
    transition: 300ms;
}


.Header button:hover{
    box-shadow: 0 0 20px white;
    text-shadow: 0 0 20px white;
    transition: 300ms;
}

.Header h2{
    margin: 0px 30px 0px 20px;
    color: white;
    font-size: 14px;
}

.auth{
    display: flex;
    align-items: center;
}