.Header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: black;
    color:  white;
}

.Header h3, h2{
    margin: 0px;
    padding: 0px;
}