.Header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    background: rgb(56, 66, 58);
}

.Header a {
    text-decoration: none;
    color: white;
    font-size: 28px;
    transition: 300ms;
}

.Header a:hover{
    cursor: pointer;
    text-shadow: 0 0 10px white;
    transition: 300ms;
}

.Header a[class='active']{
    text-shadow: 0 0 20px white;
}