.userDetails{
    width: 100%;
    height: 300px;
    border: 1px solid rgb(80, 79, 79);
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    padding-top: 70px;
}

.userDetails div{
    margin-bottom: 20px;
}