.form{
    width: 350px;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    padding: 50px;
    box-sizing: border-box;
    border-right: 1px solid gray;
}

.form button{
    width: 150px;
    background: transparent;
    color: rgb(74, 73, 73);
    border: 1px solid rgb(98, 97, 97);
    border-radius: 5px;
    transition: 300ms;
}

.form button:hover{
    color: white;
    background:  rgb(98, 97, 97);
    transition: 300ms;
    border-radius: 10px;
}

.form span{
    font-size: 12px;
    color: rgb(161, 161, 161);
}

.form button:disabled{
    color: silver;
}