.post{
    width: 230px;
    margin: 5px;
    border: 1px solid grey; 
    border-radius:10px;
    box-sizing: border-box;
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}