.flex{
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

button{
    width: 200px;
    height: 80px;
    background-color: darkmagenta;
    color: aliceblue;
    font-size: 50px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: 300ms;
}

button:hover{
    color: darkmagenta;
    background-color: aliceblue;
    transition: 300ms;
}